*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.piano {
    display: flex;
    margin-top: 0;
    position: relative;
    top: -50px;
}

.key {
    height: calc(var(--width)*4);
    width: var(--width);
}

.white {
    --width: 70px;
    background-color: white;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 10px 10px 60px 10px cyan;
    transition: 200ms;
}

.black {
    --width: 45px;
    background-color: black;
    border: 1px solid #333;
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 2;
    border-radius: 10px;
    transition: 200ms;
}

.white.active {
    background-color: rgb(140, 101, 230);
    box-shadow: 0 0 5px 5px rgb(1, 255, 77);
}

.black.active {
    background-color: rgb(140, 101, 230);
    box-shadow: 0 0 5px 5px rgb(1, 255, 77);
}

h3 {
    text-align: center;
    top: 50%;
    position: relative;
}

.piano .key:hover {
    background-color: rgb(140, 101, 230);
    box-shadow: 0 0 5px 5px rgb(1, 255, 77);
}

.key.black {
    color: white;
    text-align: center;
}

.key.white p {
    position: relative;
    top: 60%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.key.white h3 {
    top: 60%;
    font-size: x-large;
}

.key.black p {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

body h1 {
    flex: 0 0 100%;
    margin-bottom: 0;
    text-align: center;
    color: white;
    text-shadow: 4px 0 0 black;
}